*{
    margin: 0;
    padding: 0;
}

.container{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(241, 239, 234);
}

.col-3{
    background-color: purple;
    display: inline block;
}

.col-9 p{
    font-size: 20px;
}

nav .nav-tabs .nav-link{
    justify-content: space-around;
}

nav .nav-tabs .nav-link:hover{
    color: white;
    background: black;
    text-decoration: none;
    margin-right: 10px;
}

nav button{
    right: 5%;
}

button{
    width: 100px;
    height: 40px;
    display: block;
    align-items: center;
    padding: 10px;
    border: 10px;
    border-radius: 40px;
    cursor: pointer;
    background: rgb(187, 186, 190);
    color: rgb(14, 13, 15);
    font-size: 20px;
}

button:hover{
    color: aqua;
    background-color: rgb(7, 7, 7);
}

.fa{
    margin-right: 10px;
    color: aqua;
    display: flex;
    align-items: center;
    font-size: 25px; 
}